body {
  margin: 0;
  padding: 0;
  background-color: rgba(37, 37, 38, 0.979);
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(173, 181, 183);
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgb(19, 19, 20);
}